@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    width: 100%;
}
/* start header */
header{
    padding-top: 10px;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}
header .top-header{
    display: flex;
    justify-content: space-between;
}
header .top-header .title-page{
    font-size: 32px;
    font-weight: 700;
}
header .top-header .title-page img{
    width: 32px;
}
header .top-header  .button-page{
    background-color: white;
    color: hsl(321, 100%, 78%);
    font-size: 11px;
    height: 34px;
    border: 1px solid hsl(321, 100%, 78%);
    padding: 0px 33px;
    border-radius: 18px;
}
header .top-header  .button-page:hover{
    color: white;
    background-color: hsl(321, 100%, 78%);
}
header .title-text{
    margin-top: 180px;
    text-align: center;
    font-size: 35px;
}
header .container{
    margin: 0 auto;
    width: 61%;
}
header .text{
    font-size: 14px;
    text-align: center;
    padding: 10px 113px;
    color: hsl(210, 10%, 33%);
}
.btn-dw{
    display: flex;
    text-align: center;
    margin: 50px auto;
    background-color:  hsl(322, 100%, 66%);
    color: white;
    padding: 10px 50px;
    border: none;
    border-radius: 30px;
    height: 50px;
    font-size: 16px;
    box-shadow: 1px 3px 8px hsla(208.1, 100%, 66.1%, 0.31);
}
button:hover{
    opacity: 0.8;
    cursor: pointer;
}
.arrow{
    color: hsl(322, 100%, 66%);
    width: 35px ;
    transition: 0.3;
}
.con-arr  :hover {
    color: hsl(322, 74%, 84%) ;
}
.arrow .svg-inline--fa{
    animation: arr 1.5s linear infinite;
}
@keyframes arr {
    0%,
    20%,
    80%,
    100% {
        transform: translateY(0);
    }
    40%,
    60% {
        transform: translateY(-10px);
    }
}
/*end header*/
.img1 img{
    margin: 20px auto;
    display: flex;
    justify-content: center;
    transition: 0.3s 0s linear transform;
}
.up{
    position: sticky;
    top:  90%;
    padding-left: 90% ;
    z-index: 100;
}
.up a{
    color: hsl(322, 100%, 66%);
    font-size: 1.4rem;
}
/* stard main*/
main{
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
main div div{
    margin: auto;
    text-align: center;
}
main div .num{
    font-size: 60px;
    font-weight: 700;
}
main .info {
    margin: 50px 0;
}
/*end main*/
/*start section*/
section{
    margin: 250px 0;
    background-color: #f6fbff;
    position: relative;
    padding: 150px;
    display: flex;
    background-repeat: repeat-x;
    justify-content: space-between;
}
.Second-section{
    background-color: white;
}
.first-section::before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -146px;
    left: 0;
    background-image: url(./images/bg-section-top-desktop-2.svg);
    background-repeat: repeat-x;
    z-index: -100;
}
.tree-section::before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -146px;
    left: 0;
    background-image: url(./images/bg-section-top-desktop-2.svg);
    background-repeat: repeat-x;
    z-index: -100;
}
.first-section::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -100%;
    left: 0;
    background-image: url(./images/bg-section-bottom-desktop-1.svg);
    background-repeat: repeat-x;
    z-index: -100;
}
.tree-section::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -100%;
    left: 0;
    background-image: url(./images/bg-section-bottom-desktop-1.svg);
    background-repeat: repeat-x;
    z-index: -100;
}
section .paragraph{
    margin-top: 92px;
}
section .paragraph .title-section{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
}
section div img{
    width: 100%;
}
.images{
    animation: up-down 2s 0s linear infinite;
}
@keyframes up-down {
    0%,100%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(10px);
    }
}
.images:hover{
    transform: scale(1.2,1.2);
}
/*end section*/
.fin-body div{
    margin-top: 180px;
    font-weight: 700;
    text-align: center;
    font-size: 35px;
}
/*start footer*/
footer{
    margin: 230px -8px -8px -8px;
    padding: 100px 50px;
    display: flex;
    position: relative;
    background-color: hsl(192, 100%, 9%);
    color: white;
    justify-content: space-around;
}
footer::before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -150px;
    left: 0;
    right: 0;
    background-image: url(./images/bg-footer-top-desktop.svg);
    background-repeat: repeat-x;
    z-index: -100;
}
footer .foot-info1 {
    width: 27%;
}
footer .foot-info1 .text,footer .foot-info2 .text{
    color: hsl(207, 100%, 98%);
    font-size: 14px;
}
footer .foot-info1 .top-footer{
    display: flex;
    font-size: 30px;
    font-weight: 700;
}
footer .foot-info1  .loge{
    height: 50px;
    width: 50px;
}
footer .foot-info1 .text img{
    display: inline-block;
    padding-right: 20px;
}
.icons{
    display: inline-block;
}
footer .icons > a{
    font-size: 1.5rem ;
    color: #fff;
}
footer .icons a :hover{
    color:hsl(207, 86%, 43%);
}
footer .foot-info2{
    width: 40%;
}
footer .foot-info2 .title{
    font-size: 23px;
    font-weight: 700;
}
footer .foot-info2 .text{
    width: 65%;
}
.sub button{
    background-color:  hsl(322, 100%, 66%);
    color: white;
    padding: 9px 50px;
    border: none;
    border-radius: 5px;
}
.sub input{
    height: 40px;
    width: 215px;
    margin-right: 16px;
}
.show-message{
    display: none;
    font-size: 11px;
    color: hsl(0, 100%, 63%) ;
}
.sub input:focus{
    border: 1px solid  hsl(0, 100%, 63%);
    outline: none;
}
.sub input:focus ~ .show-message{
    display: block;
}
/*end footer*/
@media screen and (max-width: 850px){
    header .text{
        padding: 0;
    }
    main{
        flex-direction: column;
    }
    section{
        padding-top:40px ;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .first-section,.tree-section{
        padding-top:40px ;
        flex-direction: column-reverse;
    }
    section .paragraph{
        width: 100%;
    }
    section .paragraph .title-section{
        text-align: center;
    }
    section .paragraph .text-section{
        text-align: center;
    }
    section div img{
        width: 100%;
        margin-top: 20px;
    }
    footer{
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    footer::before{
        background-repeat: no-repeat;
        top: -50px;
        background-image: url(./images/bg-footer-top-mobile.svg);
    }
    footer .foot-info1,.foot-info2{
        padding-right:0 ;
        margin-top: 40px;
        width: 100%;
    }
    footer .foot-info2 .text {
        width: 100%;
    }
    footer .foot-info2 {
        width: 100%;
    }
    .sub button{
        margin-top: 5px;
        float: right;
    }
    .sub button::after{
        clear: both;
    }
    .sub input{
        width:100%;
    }
}
@media (min-width: 450px){
    .sub input{
        width: fit-content;
    }
}
@media (min-width: 380px){   
    footer::before{
        background-image: url(./images/bg-footer-top-desktop.svg);
        top: -155px;
    }
}
