@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}
/* start header */
.container{
    margin: 0 20px;
}
header{
    font-family: 'Poppins', sans-serif;
}

header .top-header{
    display: flex;
    justify-content: space-between;
}
header .top-header .title-page{
    font-size: 32px;
    font-weight: 700;
}
header .top-header .title-page img{
    width: 32px;
}
header .top-header  .button-page{
    background-color: white;
    color: hsl(321, 100%, 78%);
    font-size: 11px;
    height: 34px;
    border: 1px solid hsl(321, 100%, 78%);
    padding: 0px 33px;
    border-radius: 18px;
}
header .title-text{
    margin-top: 180px;
    text-align: center;
    font-size: 35px;
}
header .container{
    margin: 0 auto;
    width: 61%;
}
header .text{
    font-size: 14px;
    text-align: center;
    padding: 10px 113px;
    color: hsl(210, 10%, 33%);
}

.btn-dw{
    display: flex;
    text-align: center;
    margin: 50px auto;
    background-color:  hsl(322, 100%, 66%);
    color: white;
    padding: 10px 50px;
    border: none;
    border-radius: 30px;
    height: 50px;
    font-size: 16px;
    box-shadow: 1px 3px 8px hsla(208.1, 100%, 66.1%, 0.31);
}
button:hover{
    opacity: 0.8;
    cursor: pointer;
}

/*end header*/

.img1 img{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 800px;
}

/* stard main*/


main{
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
main div div{
    margin: auto;
    text-align: center;
}
main div .num{
    font-size: 60px;
    font-weight: 700;
}
main div {
    margin-top: 50px;
}

/*end main*/
/*start section*/

section{
    margin-top: 250px;
    background-color: #f6fbff;
    position: relative;
    padding: 150px;
    display: flex;
    background-repeat: repeat-x;
    justify-content: space-between;
}
.Second-section{
    background-color: white;
}
.first-section::before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -22%;
    left: 0;
    background-image: url(./images/bg-section-top-desktop-2.svg);
    background-repeat: repeat-x;
    z-index: -100;
}
.tree-section::before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -22%;
    left: 0;
    background-image: url(./images/bg-section-top-desktop-2.svg);
    background-repeat: repeat-x;
    z-index: -100;
}
.first-section::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -100%;
    left: 0;
    background-image: url(./images/bg-section-bottom-desktop-1.svg);
    background-repeat: repeat-x;
    z-index: -100;
}
.tree-section::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -100%;
    left: 0;
    background-image: url(./images/bg-section-bottom-desktop-1.svg);
    background-repeat: repeat-x;
    z-index: -100;
}
section .paragraph{
    margin-top: 92px;
    width: 47%;
}
section .paragraph .title-section{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
}
section div img{
    width: 400px;
}
/*end section*/

.fin-body div{
    margin-top: 180px;
    font-weight: 700;
    text-align: center;
    font-size: 35px;
}

/*start footer*/
footer{
    margin: 230px -8px -8px -8px;
    padding: 100px 50px;
    display: flex;
    position: relative;
    background-color: hsl(192, 100%, 9%);
    color: white;
    justify-content: space-around;
}
footer::before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -29%;
    left: 0;
    right: 0;
    background-image: url(./images/bg-footer-top-desktop.svg);
    background-repeat: repeat-x;
    z-index: -100;
}
footer .foot-info1 {
    width: 27%;
}
footer .foot-info1 .text,footer .foot-info2 .text{
    color: hsl(207, 100%, 98%);
    font-size: 14px;
}
footer .foot-info1 .top-footer{
    display: flex;
    font-size: 30px;
    font-weight: 700;
}
footer .foot-info1 div svg{
    height: 50px;
    width: 50px;
}

footer .foot-info1 .text img{
    display: inline-block;
    padding-right: 20px;
}

.icons{
    display: inline-block;
    font-size:30px;
}
.icons i:hover{
    color:   hsl(207, 86%, 43%);
    cursor: pointer;
}
footer .foot-info2{
    width: 40%;
}
footer .foot-info2 .title{
    font-size: 23px;
    font-weight: 700;
}
footer .foot-info2 .text{
    width: 65%;
}
.sub button{
    background-color:  hsl(322, 100%, 66%);
    color: white;
    padding: 10px 50px;
    border: none;
}
.sub input{
    height: 35px;
    width: 215px;
    margin-right: 16px;
}
.show-message{
    display: none;
    font-size: 11px;
    color: hsl(0, 100%, 63%) ;
}

.sub input:focus{
    border: 1px solid  hsl(0, 100%, 63%);
    outline: none;
}
.sub input:focus ~ .show-message{
    display: block;
}
/*end footer*/

@media screen and (max-width: 880px){
    header .text{
        padding: 0;
    }
    .img1 img{
        width: 400px;
    }
    main{
        flex-direction: column;
    }
    section{
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .first-section,.tree-section{
        flex-direction: column-reverse;
    }
    section .paragraph{
        width: 100%;
    }
    section .paragraph .title-section{
        text-align: center;
    }
    
    section .paragraph .text-section{
        text-align: center;
    }
    section div img{
        width: 350px;
    }
    footer{
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    footer::before{
        top: -7%;
        background-image: url(./images/bg-footer-top-mobile.svg);
    }
    footer .foot-info1,.foot-info2{
        padding-right:0 ;
        margin-top: 40px;
        width: 100%;
    }
    footer .foot-info2 .text {
        width: 100%;
    }
    footer .foot-info2 {
        width: 100%;
    }
    .sub button{
        float: right;
        
    }
    .sub button::after{
        clear: both;
    }
}